.contact-info {
    border-bottom: 1px solid black;
    display: flex;

    .name {
        flex: 1;
        border-right: 1px solid black;

        span {
            font-size: 3em;
            padding: 0px 5px;
        }

        .last {
            color: gray;
            padding-right: 20px;
        }
    }

    .contacts {
        padding: 0px 5px;

        .address {
            display: block;
        }

        a {
            border-right: 1px solid black;
            padding-right: 10px;
        }

        .phone {
            padding-left: 10px;
        }
    }
}
