$size: 30px;
$img-size: 18px;

.face {
  width: $size;
  height: $size;
  margin: 0px 5px;

  border-top: 2px solid white;
  border-right: 2px solid #808080;
  border-bottom: 2px solid #808080;
  border-left: 2px solid white;

  background-color: #d8d8d8;
  background-image: url(../assets/alive.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: $img-size $img-size;

  &:active {
    background-color: #e8e8e8;

    border-top: 2px solid #808080;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid #808080;
  }

  &.anxious {
    background-image: url(../assets/anxious.png);
  }

  &.died {
    background-image: url(../assets/died.png);
  }

  &.won {
    background-image: url(../assets/won.png);
  }
}
