$box-size: 20px;
$img-size: 18px;

// Colors
$background: #e8e8e8;
$hidden-background: #d8d8d8;
$dark-gray: #808080;

body {
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: $background;
  border: 1px solid $dark-gray;
  float: left;
  font-size: 14px;
  font-weight: bold;
  line-height: $box-size;
  height: $box-size;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: $box-size;

  &:focus {
    outline: none;
  }

  &.hidden {
    background: $hidden-background;
    border-top: 2px solid white;
    border-right: 2px solid $dark-gray;
    border-bottom: 2px solid $dark-gray;
    border-left: 2px solid white;
  }

  &.one {
    color: blue;
  }

  &.two {
    color: green;
  }

  &.three {
    color: red;
  }

  &.four {
    color: purple;
  }

  &.five{
    color: maroon;
  }

  &.six {
    color: teal;
  }

  &.seven {
    color: black;
  }

  &.eight {
    color: #626262;
  }

  &.flagged {
    background: $hidden-background url(../assets/flag.png) center center / $img-size $img-size;
  }

  &.bomb {
    background: $background url(../assets/bomb.png) center center / $img-size $img-size;
  }
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;

  .controls {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .input {
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        display: block;
        height: 24px;
        width: 28px;
        margin-top: 5px;
      }
  }
}

.game-info {
  margin-left: 20px;
}
